<a href="https://colab.research.google.com/github/sumshun-nahar-eity/Phitron_Artificial_Intelligence_ML_Course/blob/main/Sumshun_Nahar_Eity_(mid_exam_)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Email : esumshun@gmail.com

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

# **1) NumPy — 5 Questions**

Q1. Create NumPy arrays from the ages and salaries data generated above. Print both arrays and display their dtype, ndim, shape, and size.
## Answer q1 :

In [ ]:
age_array = np.array(ages)
salary_array = np.array(salaries)

print("Ages:", age_array)
print("Age dtype:", age_array.dtype)
print("Age ndim:", age_array.ndim)
print("Age shape:", age_array.shape)
print("Age size:", age_array.size)

print(".................................")

print("Salaries:", salary_array)
print("Salary dtype:", salary_array.dtype)
print("Salary ndim:", salary_array.ndim)
print("Salary shape:", salary_array.shape)
print("Salary size:", salary_array.size)

Ages: [56 46 32 25 38 56 36 40 28 28]
Age dtype: int64
Age ndim: 1
Age shape: (10,)
Age size: 10
.................................
Salaries: [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
Salary dtype: int64
Salary ndim: 1
Salary shape: (10,)
Salary size: 10

Q2. Using the salaries array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.
## Answer q2 :

In [ ]:
highest_salary = np.max(salary_array)
print("Highest Salary :", highest_salary)

lowest_salary = np.min(salary_array)
print("Lowest Salary :", lowest_salary)

average_salary = np.mean(salary_array)
print("Average Salary :", average_salary)

average_age = np.mean(age_array)
print("Average Age :", average_age)

Highest Salary : 89735
Lowest Salary : 30769
Average Salary : 57446.9
Average Age : 38.5

Q3. From the ages array, filter and print all ages greater than 30 using a boolean condition. Then count and print how many employees are older than 30.
## Answer q3 :

In [ ]:
ages_over_30 = age_array[age_array > 30]
print("Ages Greater Than 30:", ages_over_30)

count_over_30 = np.sum(age_array > 30)
print("Number of Employees Older Than 30:", count_over_30)

Ages Greater Than 30: [56 46 32 38 56 36 40]
Number of Employees Older Than 30: 7

Q4. Create a new NumPy array that increases every employee’s age by 5 years (without modifying the original array). Print the new updated ages array.
## Answer q4 :

In [ ]:
new_age_array = age_array + 5

print("New Ages After 5 Years:", new_age_array)

New Ages After 5 Years: [61 51 37 30 43 61 41 45 33 33]

Q5. Using NumPy, calculate the total salary expense (sum of all salaries) and the difference between the maximum and minimum salary. Print both results.
## Answer q5 :

In [ ]:
total_salary_expense = np.sum(salary_array)
print("Total Salary Expense:", total_salary_expense)

salary_difference = np.max(salary_array) - np.min(salary_array)
print("Difference Between Highest and Lowest Salary:", salary_difference)

Total Salary Expense: 574469
Difference Between Highest and Lowest Salary: 58966

# **# 2) Pandas — 5 Questions**

Q6. Load the employees.csv file into a Pandas DataFrame. Display the first 5 rows, and check basic info using info() and summary statistics using describe().
## Answer q6 :

In [ ]:
data = pd.read_csv("employees.csv")

print(data.head())
print(data.info())
print(data.describe())

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

Q7. Display only the id, age, and salary columns. Then show the last 3 rows using tail().
## Answer q7 :

In [ ]:

print("ID, Age, and Salary Columns:")
print(data[["id", "age", "salary"]])
print("\nLast 3 Rows:")
print(data.tail(3))

ID, Age, and Salary Columns:
   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

Last 3 Rows:
   id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

Q8. Filter the DataFrame to show only employees who work in the IT department. Print the result and show the total number of IT employees.
## Answer q8 :

In [ ]:
it_employees = data[data["dept"] == "IT"]

print("Employees in IT Department:")
print(it_employees)
print("\nTotal Number of IT Employees:", len(it_employees))

Employees in IT Department:
   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total Number of IT Employees: 3

Q9. Sort the DataFrame by salary in descending order and display the top 3 highest-paid employees along with their department and age.
## Answer q9 :

In [ ]:
sorted_data = data.sort_values(by="salary", ascending=False)
top_3 = sorted_data[["id", "dept", "age", "salary"]].head(3)

print("Top 3 Highest-Paid Employees:")
print(top_3)

Top 3 Highest-Paid Employees:
   id     dept  age  salary
6   7  Finance   36   89735
7   8       IT   40   86101
0   1       HR   56   77191

Q10. Replace all salary values greater than 80000 with 80000 using loc. Then calculate and print the new average salary of all employees after replacement.
## Answer q10 :

In [ ]:

data.loc[data["salary"] > 80000, "salary"] = 80000
new_average_salary = data["salary"].mean()

print("New Average Salary:", new_average_salary)

New Average Salary: 55863.3